$primary-bg: #353b48;
$dark-bg: rgb(16, 16, 16);
$danger-color:#f4b429;
$beji-bg: #fef7e9;
$main-color: #1b2024;
$main-content-color: #002d75;
$accent-color: cyan;
$accent-color-two: lime;
$light-color: white;
$bg-color: white;


// header
$header-nav-bg : #d9e8fd;

$main-font-family: Arial, sans-serif;